<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Wireless</title>
    <link href="../static/operationStyle.css" rel="stylesheet">
</head>
<body>
<div class="NavBar">
    <div class="title_logo">
        <img class="logo" src="../static/images/calculator.png">
        <h1>Operation Menu</h1>
    </div>
    </div>
<div class="operations">
      <div class="operation1">

            <img alt="QUESTION1" class="operation1_Img" src="../static/images/Question1.jpeg">

          <div class="operationDiv">

              <div class="label_button">
                <p class="operation1Par"><strong>Question1</strong> </p>
                <a href="{{ url_for('question1') }}">
                <button class="OperationButtonCard">Calculate</button>
            </a>
            </div>
          </div>
          </div>

         <div class="operation2">

            <img alt="QUESTION2" class="operation1_Img" src="../static/images/Question2.jpeg">

            <div class="operationDiv">

              <div class="label_button">
                <p class="operation1Par"><strong>Question2</strong> </p>
                <a href="{{ url_for('question2') }}">
                <button class="OperationButtonCard">Calculate</button>
            </a>
            </div>
                            </div>

</div>
     <div class="operation3">

            <img alt="QUESTION3" class="operation1_Img" src="../static/images/Question3.jpeg">
            <div class="operationDiv">

              <div class="label_button">
                <p class="operation1Par"><strong>Question3</strong> </p>
                <a href="{{ url_for('question3') }}">
                <button class="OperationButtonCard">Calculate</button>
            </a>
            </div>
                            </div>

</div>
     <div class="operation4">

            <img alt="QUESTION4" class="operation4_Img" src="../static/images/Question4.png">
            <div class="operationDiv">
                  <div class="Question_describer">

              </div>
              <div class="label_button">
                <p class="operation1Par"><strong>Question 4</strong> </p>
                <a href="{{ url_for('question4') }}">
                <button class="OperationButtonCard">Calculate</button>
            </a>
            </div>
                            </div>

</div>
     <div class="operation5">

            <img alt="QUESTION5" class="operation1_Img" src="../static/images/Question5.png">
            <div class="operationDiv">
                  <div class="Question_describer">

              </div>
              <div class="label_button">
                <p class="operation1Par"><strong>Question 5</strong> </p>
                <a href="{{ url_for('question5') }}">
                <button class="OperationButtonCard">Calculate</button>
            </a>
            </div>
                            </div>

</div>
       </div>


</body>
</html>